<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<?eclipse version="3.4"?>
<plugin>

 <extension
         id="TurmericErrorLibraryProjectBuilder"
         name="Turmeric Property Based Error Library Builder"
         point="org.eclipse.core.resources.builders">
      		<builder
              callOnEmptyDelta="false"
              hasNature="true">
         		<run class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.eclipse.TurmericErrorLibraryProjectBuilder"/>
      		</builder>
    </extension>
    
	<extension
         id="ErrorLibraryProjectNature"
         name="Error Library Project Nature"
         point="org.eclipse.core.resources.natures">
      		<runtime>
         		<run class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.eclipse.TurmericErrorLibraryProjectNature"/>
      		</runtime>
     		 <builder id="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.TurmericErrorLibraryProjectBuilder"/>
   	</extension>
  <extension
        point="org.ebayopensource.turmeric.eclipse.resources.soaProjectResolver">
     <soaProjectResolver
           projectNature="%Turmeric.ProjectNature.ID.ErrorLibrary"
           projectResolverClass="org.ebayopensource.turmeric.eclipse.errorlibrary.resources.model.SOAErrorLibraryProjectResolver">
     </soaProjectResolver>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.preferences.ErrorIdServicePreferenceInitializer">
     </initializer>
  </extension>
</plugin>
