<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
    
      <wizard
            category="org.ebayopensource.turmeric.eclipse.core.ui.newWizards"
            class="org.ebayopensource.turmeric.eclipse.services.ui.wizards.ServiceFromWSDLWizard"
            finalPerspective="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            icon="icons/script_obj.gif"
            id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewServiceFromWSDL"
            name="%Wizard.NewService.Title"
            preferredPerspectives="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            project="true">
         <description>
            %Wizard.NewService.Description
         </description>
      </wizard>
      <wizard
            category="org.ebayopensource.turmeric.eclipse.core.ui.newWizards"
            class="org.ebayopensource.turmeric.eclipse.services.ui.wizards.ConsumerFromJavaWizard"
            finalPerspective="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            icon="icons/script_obj.gif"
            id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewConsumerFromJava"
            name="%Wizard.NewConsumer.Title"
            preferredPerspectives="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            project="true">
         <description>
            %Wizard.NewConsumer.Description
         </description>
      </wizard>
      <wizard
            category="org.ebayopensource.turmeric.eclipse.core.ui.newWizards"
            class="org.ebayopensource.turmeric.eclipse.services.ui.wizards.ConsumerFromWSDLWizard"
            finalPerspective="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            icon="icons/script_obj.gif"
            id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewConsumerFromWSDL"
            name="%Wizard.NewConsumerFromWSDL.Title"
            preferredPerspectives="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
            project="true">
         <description>
            %Wizard.NewConsumerFromWSDL.Description
         </description>
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.ebayopensource.turmeric.eclipse.ui.soaPerspective">    
         <newWizardShortcut id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewServiceFromWSDL"/>
         <newWizardShortcut id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewConsumerFromJava"/>
         <newWizardShortcut id="org.ebayopensource.turmeric.eclipse.services.ui.wizards.NewConsumerFromWSDL"/>
         <viewShortcut id="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerView"/>
         <view
               id="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerView"
               minimized="false"
               relative="org.eclipse.ui.views.ContentOutline"
               relationship="stack"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
        <perspectiveShortcut id="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"/>
      </perspectiveExtension>
   </extension>
   
   <!-- properties page details -->
   <extension
         point="org.eclipse.ui.propertyPages">
         <page
            class="org.ebayopensource.turmeric.eclipse.services.ui.properties.SOAProjectPropertyPage"
            id="org.ebayopensource.turmeric.eclipse.services.ui.properties.soaProjectPropertyPage"
            name="%PropPage.SOAProject.Name">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <or>
		          <test property="org.eclipse.core.resources.projectNature" 
		          value="%SOA.ProjectNatureID.Interface"/>
		          <test property="org.eclipse.core.resources.projectNature" 
		          value="%SOA.ProjectNatureID.Implementation"/>
		          <test property="org.eclipse.core.resources.projectNature" 
		          value="%SOA.ProjectNatureID.Consumer"/>
		       </or>
		    </adapt>
         </enabledWhen>
      </page>
      
      <page
            category="org.ebayopensource.turmeric.eclipse.services.ui.properties.soaProjectPropertyPage"
            class="org.ebayopensource.turmeric.eclipse.services.ui.properties.SOAServiceDependenciesPage"
            id="org.ebayopensource.turmeric.eclipse.services.ui.properties.projectPropertyPage.soaRequiredServices"
            name="%PropPage.SOADependencies.Service.Name">
         <enabledWhen>
            <adapt type="org.eclipse.core.resources.IProject">
               <or>
		          <test property="org.eclipse.core.resources.projectNature" 
		          value="%SOA.ProjectNatureID.Implementation"/>
		          <test property="org.eclipse.core.resources.projectNature" 
		          value="%SOA.ProjectNatureID.Consumer"/>
		       </or>
		    </adapt>
         </enabledWhen>
      </page>          
    </extension> -->
    
    <!-- actions -->
       <extension
         point="org.eclipse.ui.popupMenus">
         
        <objectContribution
            adaptable="true"
            id="org.ebayopensource.turmeric.eclipse.services.ui.actions.soaProject"
            objectClass="org.eclipse.core.resources.IProject">         
         	<menu
            	id="soaMenu"
              	label="%Menu.Group.SOA.Label">
          		<separator name="soa"/>          	
        	</menu>                                       
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ConfigureService"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ServiceConfig"
                  label="%Menu.SOAProjectProperties.Label"
                  menubarPath="soaMenu/soa"/>
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.CleanProject"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.CleanProject"
                  label="%Menu.CleanProject.Label"
                  menubarPath="soaMenu/soa"/>
            <visibility>
            	<or>
	               <objectState
	                     name="nature"
	                     value="%SOA.ProjectNatureID.Interface"/>
	               <objectState
	                     name="nature"
	                     value="%SOA.ProjectNatureID.Implementation"/>
	               <objectState
	                     name="nature"
	                     value="%SOA.ProjectNatureID.Consumer"/>
                </or>
            </visibility>                       
       </objectContribution>
       
       <objectContribution
            adaptable="true"
            id="org.ebayopensource.turmeric.eclipse.services.ui.actions.interfaceProject"
            objectClass="org.eclipse.core.resources.IProject">         	
         	<menu
            	id="soaMenu"
              	label="%Menu.Group.SOA.Label">
          		<separator name="intf"/>
            <separator
                  name="goverance">
            </separator>          	
        	</menu>                                                   
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateTypeMappings"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateTypeMappings"
                  label="%Menu.GenerateTypeMappings.Label"
                  menubarPath="soaMenu/intf"/>
			<action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  label="%Menu.ValidateServiceWSDL.Label"
                  menubarPath="soaMenu/goverance">
			</action>
   <action
         class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ChangeServiceVersion"
         enablesFor="1"
         helpContextId="%helpIdSOATutorial"
         id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ChangeServiceVersion"
         label="%Menu.ChangeServiceVersion.Label"
         menubarPath="soaMenu/intf">
   </action>
            <visibility>
               <objectState
                     name="nature"
                     value="%SOA.ProjectNatureID.Interface">
               </objectState>
            </visibility>
       </objectContribution>
       
       <objectContribution
            adaptable="true"
            id="org.ebayopensource.turmeric.eclipse.services.ui.actions.implProject"
            objectClass="org.eclipse.core.resources.IProject">
            <menu
            	id="soaMenu"
              	label="%Menu.Group.SOA.Label">
          		<separator name="impl"/>          	
        	</menu>            
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateWebAppDescriptor"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateWebAppDescriptor"
                  label="%Menu.GenerateWebAppDescriptor.Label"
                  menubarPath="soaMenu/impl"/>
         	<!--
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateServiceImplSkeleton"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateImplSkeleton"
                  label="%Menu.GenerateServiceImplSkeleton.Label"
                  menubarPath="soaMenu/impl"/>
			-->
			
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ReGenerateServiceImplClass"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ReGenerateImpl"
                  label="%Menu.ReGenerateServiceImpl.Label"
                  menubarPath="soaMenu/impl"/>
 
                  
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateGlobalServiceConfig"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateGlobalServiceConfig"
                  label="%Menu.GenerateGlobalServiceConfig.Label"
                  menubarPath="soaMenu/impl"/>
                                 
            <visibility>
               <objectState
                     name="nature"
                     value="%SOA.ProjectNatureID.Implementation"/>
            </visibility>
      </objectContribution>


       <objectContribution
            adaptable="true"
            id="org.ebayopensource.turmeric.eclipse.services.ui.actions.consumerProject"
            objectClass="org.eclipse.core.resources.IProject">
            <menu
            	id="soaMenu"
              	label="%Menu.Group.SOA.Label">
          		<separator name="consumer"/>          	
        	</menu>        	
            <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateGlobalClientConfig"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.GenerateGlobalClientConfig"
                  label="%Menu.GenerateGlobalClientConfig.Label"
                  menubarPath="soaMenu/consumer"/>            
			<action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ConsumeNewService"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ConsumeNewService"
                  label="%Menu.SetUpConsumerConfigurations.Label"
                  menubarPath="soaMenu/consumer"/>
   <action
         class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ConsumeServiceFromWSDL"
         helpContextId="%helpIdSOATutorial"
         id="org.ebayopensource.turmeric.eclipse.services.consumeServiceFromWSDL"
         label="%Menu.ConsumeNewServicesFromWSDL.Label"
         menubarPath="soaMenu/consumer">
   </action>
            <visibility>
            	<or>
	               <objectState
	                     name="nature"
	                     value="%SOA.ProjectNatureID.Consumer"/>
                   <objectState
                     name="nature"
                     value="%SOA.ProjectNatureID.Implementation"/>
                </or>
            </visibility>
      </objectContribution>
      
      
     <viewerContribution
            id="org.ebayopensource.turmeric.eclipse.services.wsdlmenucontrib_source"
            targetID="org.eclipse.wst.wsdl.wsdlsource.source.EditorContext">
         <menu
               id="soaMenu"
               label="%Menu.Group.SOA.Label">
            <separator name="type"/>
         </menu>
         <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  label="%Menu.ValidateServiceWSDL.Label"
                  menubarPath="soaMenu/type"
                  tooltip="%Menu.ValidateServiceWSDL.Tooltip">
		</action>
      </viewerContribution>
      
      <viewerContribution
            id="org.ebayopensource.turmeric.eclipse.services.wsdlmenucontrib_design"
            targetID="org.eclipse.wst.wsdl.ui.popup.graph">
         <menu
               id="soaMenu"
               label="%Menu.Group.SOA.Label">
            <separator name="type"/>
         </menu>
         <action
                  class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  enablesFor="1"
                  helpContextId="%helpIdSOATutorial"
                  id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
                  label="%Menu.ValidateServiceWSDL.Label"
                  menubarPath="soaMenu/type"
                  tooltip="%Menu.ValidateServiceWSDL.Tooltip">
		</action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="org.ebayopensource.turmeric.eclipse.services.wsdlmenucontrib_file"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="soaMenu"
               label="%Menu.Group.SOA.Label">
            <separator
                  name="type">
            </separator>
         </menu>
         <action
               class="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
               enablesFor="1"
               helpContextId="%helpIdSOATutorial"
               id="org.ebayopensource.turmeric.eclipse.services.ui.actions.ValidateServiceWSDL"
               label="%Menu.ValidateServiceWSDL.Label"
               menubarPath="soaMenu/type"
               tooltip="%Menu.ValidateServiceWSDL.Tooltip">
            <enablement>
               <objectState
                     name="extension"
                     value="wsdl">
               </objectState>
            </enablement>
         </action>
      </objectContribution>
    </extension>
    
    <!-- Service Explorer View and Related Navigator Components-->
    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.ebayopensource.turmeric.eclipse.ui.category"
             class="org.eclipse.ui.navigator.CommonNavigator"
             icon="icons/sample.gif"
             id="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerView"
             name="%View.SOAServiceExplorer.Name">
       </view>
       <category
             id="org.ebayopensource.turmeric.eclipse.ui.category"
             name="%View.Category.SOAPlugin.Name">
       </category>
    </extension>
    
    <extension
          id="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerViewer"
          point="org.eclipse.ui.navigator.viewer">
       <viewer
             viewerId="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerView">
       </viewer>
       <viewerContentBinding
             viewerId="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesExplorerView">
          <includes>
             <contentExtension
                   isRoot="true"
                   pattern="org.ebayopensource.turmeric.eclipse.ui.servicesbinding">
             </contentExtension>
          </includes>
       </viewerContentBinding>          
    </extension>
    
    <extension
          id="org.ebayopensource.turmeric.eclipse.ui.navigatorContent"
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesContentProvider"
             icon="icons/label_obj.gif"
             id="org.ebayopensource.turmeric.eclipse.ui.servicesbinding"
             labelProvider="org.ebayopensource.turmeric.eclipse.services.ui.views.ServicesLabelProvider"
             name="%NavigatorContent.ServicesBinding.Name"
             priority="normal"
             providesSaveables="false">
      	  <triggerPoints>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
          </triggerPoints>
          <possibleChildren>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
             </or>
          </possibleChildren> 
       	  <actionProvider
             class="org.ebayopensource.turmeric.eclipse.services.ui.views.ActionProvider"
             id="org.ebayopensource.turmeric.eclipse.services.ui.views.actionProvider">
          </actionProvider>
      
       </navigatorContent>     
    </extension>
    <extension
          point="org.eclipse.search.searchPages">
       <page
             canSearchEnclosingProjects="false"
             class="org.ebayopensource.turmeric.eclipse.services.search.SOASearchPage"
             enabled="true"
             icon="icons/soa_search.gif"
             id="org.ebayopensource.turmeric.eclipse.services.search_page"
             label="%SOA.Search.Page.Name"
             showScopeSection="false"
             sizeHint="500,200">
       </page>
    </extension>
    <extension
          point="org.eclipse.search.searchResultViewPages">
       <viewPage
             class="org.ebayopensource.turmeric.eclipse.services.search.SOASearchResultPage"
             id="org.ebayopensource.turmeric.eclipse.services.search.viewPage"
             label="%SOA.Search.Result.Name"
             searchResultClass="org.ebayopensource.turmeric.eclipse.services.search.SOASearchResult">
       </viewPage>
    </extension>

</plugin>
