<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.ebayopensource.turmeric.eclipse.ui.SOAPerspectiveFactory"
          icon="icons/server.gif"
          id="org.ebayopensource.turmeric.eclipse.ui.soaPerspective"
          name="%Perspective.SOADevelopment">
       <description>
          %Perspective.SOADevelopment.Description
       </description>
    </perspective>
 </extension>
 
  <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="true"
             icon="icons/soa_project.gif"
             id="org.ebayopensource.turmeric.eclipse.ui.projects.decorator"
             label="%ProjectNature.Decorator.SOA.Label"
             lightweight="true"
             location="BOTTOM_RIGHT"
             state="true">
          <enablement>
             <and>
                <objectClass name="org.eclipse.core.resources.IProject"/>
                <or>
                    <objectState
                      name="nature"
                      value="%SOA.ProjectNatureID.Interface"/>
                    <objectState
                      name="nature"
                      value="%SOA.ProjectNatureID.Implementation"/>
                    <objectState
                      name="nature"
                      value="%SOA.ProjectNatureID.Consumer"/>
                    <objectState
                      name="nature"
                      value="%SOA.ProjectNatureID.TypeLibrary"/>
                    <objectState
                      name="nature"
                      value="%SOA.ProjectNatureID.ErrorLibrary"/>
                </or>
             </and>
          </enablement>
       </decorator>
    </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.ebayopensource.turmeric.eclipse.core.ui.newWizards"
           name="%Wizard.New.Category">
     </category>
  </extension>
  
   <extension
          point="org.eclipse.search.searchPages">
       <page
             canSearchEnclosingProjects="false"
             class="org.ebayopensource.turmeric.eclipse.ui.search.page.SOAErrorLibrarySearchPage"
             enabled="true"
             icon="icons/soa_search.gif"
             id="org.ebayopensource.turmeric.eclipse.errorlibrary.search_page"
             label="%Dialog.SOAErrorLibSearch.Title"
             showScopeSection="false"
             sizeHint="500,200">
       </page>
    </extension>  
  
  <extension
          point="org.eclipse.ui.cheatsheets.cheatSheetContent">
       <category
             id="org.ebayopensource.turmeric.eclipse.services.category.cheatsheet"
             name="%CheatSheet.Category.Name">
       </category>
       <cheatsheet
             category="org.ebayopensource.turmeric.eclipse.services.category.cheatsheet"
             composite="false"
             contentFile="cheatsheetcontent.xml"
             id="org.ebayopensource.turmeric.eclipse.services.cheatsheet"
             name="%CheatSheet.Name">
       </cheatsheet>
    </extension>
    
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.ebayopensource.turmeric.eclipse.ui.category"
            class="org.ebayopensource.turmeric.eclipse.ui.views.registry.RegistryView"
            icon="icons/script_obj.gif"
            id="org.ebayopensource.turmeric.eclipse.typelibrary.registryView"
            name="%View.TypeExplorer.Name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.ebayopensource.turmeric.eclipse.ui.registry.refresh"
            name="%Registry.View.Refresh">
      </command>
      <command
            id="org.ebayopensource.turmeric.eclipse.ui.registry.sort"
            name="%Registry.View.Sort">
      </command>
      <command
            id="org.ebayopensource.turmeric.eclipse.ui.registry.sort"
            name="%Registry.View.Import">
      </command>
      <command
            id="org.ebayopensource.turmeric.eclipse.ui.registry.importtype"
            name="%Registry.View.Import">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.ebayopensource.turmeric.eclipse.typelibrary.registryView">
            <command
                  commandId="org.ebayopensource.turmeric.eclipse.ui.registry.refresh"
                  icon="icons/refresh.gif"
                  style="push"
                  tooltip="%Registry.View.Refresh">
                  
            </command>
            <separator
                  name="org.ebayopensource.turmeric.eclipse.registry.toolbar.ui.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.ebayopensource.turmeric.eclipse.ui.registry.sort"
                  icon="icons/sort.gif"
                  style="push"
                  tooltip="%Registry.View.Sort">
            </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.ebayopensource.turmeric.eclipse.typelibrary.registryView">
         <command
               commandId="org.ebayopensource.turmeric.eclipse.ui.registry.importtype"
               label="%Registry.View.ImportType"
               style="push"
               tooltip="%Registry.View.ImporType.Tip">
         </command>
         <separator
               name="org.ebayopensource.turmeric.eclipse.ui.registry.menu.separator1"
               visible="true">
         </separator>
         <command
              commandId="org.ebayopensource.turmeric.eclipse.ui.registry.refresh"
              label="%Registry.View.Refresh"
              style="push"
              mnemonic="R">
         </command>     
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.ebayopensource.turmeric.eclipse.ui.registry.refresh" 
            class="org.ebayopensource.turmeric.eclipse.ui.handlers.RegistryRefreshHandler">
      </handler>
      <handler
            commandId="org.ebayopensource.turmeric.eclipse.ui.registry.sort"
            class="org.ebayopensource.turmeric.eclipse.ui.handlers.SortRegistryHandler">
      </handler>
   </extension>  
          
</plugin>
