<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <!-- Removing prefernces page on RIDE
      <page
            category="org.ebayopensource.turmeric.eclipse.ui.preferences"
            class="org.ebayopensource.turmeric.eclipse.maven.ui.preferences.TurmericSOAConfigPrefPage"
            id="org.ebayopensource.turmeric.eclipse.maven.core.page1"
            name="Turmeric SOA Configurations">
      </page>-->
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ebayopensource.turmeric.eclipse.maven.ui.preferences.TurmericSOAConfigPrefInitializer">
      </initializer>
   </extension>

</plugin>
