<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.maven.ide.eclipse.projectConfigurators">
      <configurator
            class="org.ebayopensource.turmeric.eclipse.maven.sconfig.TurmerStandardProjectConfigurator"
            generic="true"
            id="org.ebayopensource.turmeric.eclipse.maven.sconfig.configurator"
            name="Turmeric Maven Standard Configuration"
            priority="100">
      </configurator>
   </extension>
   
	<extension point="org.maven.ide.eclipse.archetypeCatalogs">
	  <remote description="Turmeric Snapshots Catalog" url="http://www.ebayopensource.org/nexus/content/repositories/snapshots/"/>
	  <remote description="Turmeric Releases Catalog"
         url="http://www.ebayopensource.org/nexus/content/repositories/releases/">
	  </remote>
	</extension>   

</plugin>
