<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.preferencePages">
        
     <!-- Removing for RIDe since RIDE does not use a prefernces page and error libraries
     <page
     	   category="org.ebayopensource.turmeric.eclipse.ui.preferences"
           class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.preferences.ErrorIdServicePreferencePage"
           id="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.preferences.ErrorIdServicePreferencePage"
           name="ErrorIdService Preferences">
     </page>-->
  </extension>
  
  <extension
         point="org.ebayopensource.turmeric.eclipse.errorlibrary.soaErrorLibProvider">
      <SOAErrorLibraryProvider
            providerID="PropertiesContentErrorLibraryProvider"
            providerImplementation="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.ui.wizards.PropertiesContentSOAErrorLibraryProvider">
      </SOAErrorLibraryProvider>
   </extension>
   
   <extension
       point="org.ebayopensource.turmeric.eclipse.errorlibrary.soaErrorLibModelProvider">
    <SOAErrLibViewModelProvider
          errViewModelProvider="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.ui.view.PropertiesContentRegistry"
          providerID="PropertiesContentErrorLibraryProvider">
    </SOAErrLibViewModelProvider>
 </extension>
 
 	<extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.ui.ErrorLibraryProjPropertyPage"
            id="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.ui.errorlibraryProjectPropertyPage"
            name="%PropertyPage.ErrorLibrary.Name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="%Turmeric.ProjectNature.ID.ErrorLibrary">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
