<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
     	   category="org.ebayopensource.turmeric.eclipse.ui.preferences"
           class="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.preferences.ErrorIdServicePreferencePage"
           id="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.preferences.ErrorIdServicePreferencePage"
           name="ErrorIdService Preferences">
     </page>
  </extension>
  
  <extension
         point="org.ebayopensource.turmeric.eclipse.errorlibrary.soaErrorLibProvider">
      <SOAErrorLibraryProvider
            providerID="PropertiesContentErrorLibraryProvider"
            providerImplementation="org.ebayopensource.turmeric.eclipse.errorlibrary.properties.ui.wizards.PropertiesContentSOAErrorLibraryProvider">
      </SOAErrorLibraryProvider>
   </extension>
  

</plugin>
