<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<?eclipse version="3.2"?>
<plugin>
   	
   	<extension
         id="SOAClientProjectBuilder"
         name="Turmeric Client Project Builder"
         point="org.eclipse.core.resources.builders">
      		<builder hasNature="true">
         		<run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAClientProjectBuilder">
            		<parameter
                  		name="optimize"
                  		value="true"/>
         		</run>
      		</builder>
   	</extension>
   	
   	<extension
         id="SOAClientProjectNature"
         name="%SOA.ProjectNature.Name.Consumer"
         point="org.eclipse.core.resources.natures">
      		<runtime>
         			<run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAClientProjectNature"/>
      		</runtime>
      		<builder id="org.ebayopensource.turmeric.eclipse.build.SOAClientProjectBuilder"/>
   	</extension>
   	
   	<extension
         id="SOAImplProjectBuilder"
         name="Turmeric Implementation Project Builder"
         point="org.eclipse.core.resources.builders">
      		<builder hasNature="true">
         		<run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAImplProjectBuilder">
            		<parameter
                  		name="optimize"
                  		value="true"/>
         		</run>
      		</builder>
   	</extension>
   	
   	<extension
         id="SOAImplProjectNature"
         name="%SOA.ProjectNature.Name.Implementation"
         point="org.eclipse.core.resources.natures">
    	  <runtime>
        		 <run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAImplProjectNature"/>
      	  </runtime>
      	  <builder id="org.ebayopensource.turmeric.eclipse.build.SOAImplProjectBuilder"/>
   	</extension>
   	
   	<extension
         id="SOAInterfaceProjectBuilder"
         name="Turmeric Interface Project Builder"
         point="org.eclipse.core.resources.builders">
      		<builder hasNature="true">
         		<run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAInterfaceProjectBuilder"/>
      		</builder>
   	</extension>
   	
   	<extension
         id="SOAInterfaceProjectNature"
         name="%SOA.ProjectNature.Name.Interface"
         point="org.eclipse.core.resources.natures">
     		 <runtime>
         		<run class="org.ebayopensource.turmeric.eclipse.build.builder.SOAInterfaceProjectNature"/>
      		 </runtime>
      		<builder id="org.ebayopensource.turmeric.eclipse.build.SOAInterfaceProjectBuilder"/>      		
   	</extension>
   	 

</plugin>
